@model DesafioFiap.Models.IndexViewModel
@{
    ViewBag.Title = "Configurações da conta";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>Senha:</dt>
        <dd>            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Trocar senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Criar", "SetPassword")
            }            
        </dd>
    </dl>
</div>
