@model IEnumerable<DesafioFiap.Dtos.UsuarioNewsletterDtoOut>

@{
    ViewBag.Title = "Administration";
}

<h2>Administração da Newsletter</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
