@using System.Web.UI.WebControls;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Varejos S.A</h1>
    <p class="lead">Assine nossa newsletter para mais informações e promoções!</p>    
    @Html.ActionLink("Assinar", "New", "UsuarioNewsletter", null, new { @class = "btn btn-primary btn-lg" });
</div>

